<template name="addDevice">
    <div id="new-device" class="container">
        <h2>Add new device to the list</h2>
        <div id="new-device-form" class="col-xs-12 col-lg-6 col-md-6">
            <div class="form-group desc-block">
                <label class="control-label" for="DeviceName">Device Name</label><br>
                <input id="DeviceName" type="text" class="form-control"/>
            </div>
            <div class="form-group desc-block">
                <label class="control-label" for="DeviceImg">Device image</label><br>
                <input id="DeviceImg" type="text" class="form-control" placeholder="This will be file-upload"/>
            </div>
            <div class="form-group">
                <label class="control-label" for="textField">Description</label><br>
                <textarea  id="textField" type="text" class="form-control"></textarea>
            </div>
            <div class="btn-holder">
                <button id="submit-device" class="submit btn btn-success">Submit</button>
            </div>
        </div>
    </div>
</template>