<template name="bookedByMe">
    <div class="container booked-by-me">
        <h2>Devices booked by me</h2>
        <hr class="style-two">
        {{#each deviceList}}
        <div class="device-holder" data-deviceid="{{_id}}">
            <h3>{{model}}</h3>
            <div class="device-img">
                <img src="img/{{img}}" alt="Manufacturer Icon"/>
            </div>
            <div class="device-details">
                <p><strong>Manufacturer:</strong> {{manufacturer}}</p>
                <p><strong>OS Type:</strong> {{OSType}}</p>
                <p><strong>OS Version:</strong> {{OSVersion}}</p>
                <p><strong>Screen Size:</strong> {{screenSize}}</p>
                <p><strong>Release Year:</strong> {{releaseYear}}</p>
                <p><strong>Description:</strong> {{description}}</p>
                <p><strong>Return date:</strong> {{bookedUntil}}</p>
            </div>
            <!--<button class="book-btn btn-xs btn-primary">book</button>-->
        </div>
        {{/each}}
    </div>
</template>