<template name="feedback">
    <div class="feedback-holder container">
        <h2>Feedback</h2>
        <hr class="style-two">
        <div class="feedback container">
            <div class="leave-comment">
                <h4>Suggest an improvement, report a bug or just say hi.</h4>
                <br />
                <div class="form-group name">
                    <label class="control-label" for="name">Name</label><br>
                    <input id="name" type="text" class="form-control"/>
                </div>
                <div class="form-group email">
                    <label class="control-label" for="email">Email</label><br>
                    <input id="email" type="email" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="comment">Your comment</label><br>
                    <textarea  id="comment" rows="4" class="form-control"></textarea>
                </div>
                <button id="submit-comment" class="submit btn btn-success">Submit</button>
            </div>
        </div>
        <hr class="style-two">

        <div class="comments-holder container">
            <h4>Comments</h4>
            {{#each displayComments}}
                <div class="panel panel-default">
                    <div class="panel-heading">{{userName}} - {{userEmail}} <span class="pull-right">{{relativeTime timeStamp}}</span></div>
                    <div class="panel-body">
                        {{userComment}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</template>