<template name="home">
    <div class="container">
        <h2>Available devices <em>({{availableDevicesCount}})</em></h2>
        <div id="device-wrapper">
            {{> deviceGrid}}
        </div>
        <div class="row">

        </div>
    </div>
    <div class="container">
        {{#if isInRole 'admin'}}
            <h2>Booked devices <em>({{bookedDevicesCount}})</em></h2>
            <div id="booked-device-wrapper">
                {{> bookedDeviceGrid}}
            </div>
            <div class="row">

            </div>
        {{/if}}
    </div>
</template>