<template name="login">
    <div class="container">
        <div class="row">
            <div class="ninjaLogo text-center">
                <img src="img/suit-ninja.png">
                <div class="ninjaEyes">
                    <div class="eye"><div class="pupil"></div></div>
                    <div class="eye"><div class="pupil"></div></div>
                </div>
            </div>
            <div class="loginContainer">
              <form id="custom-login-form">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
                    <input id="userEmail" type="text" class="form-control" placeholder="email">
                    <span class="input-group-addon">@powa.com</span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input id="userPassword1" type="password" class="form-control" placeholder="Password">
                </div>
                <div id="create-pass" class="input-group hidden">
                    <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                    <input id="userPassword2" type="password" class="form-control" placeholder="Re-enter your password">
                </div>
                <div class="loginButtons">
                    <div id="button-switch" class="btn-group">
                        <button id="login" type="button" class="btn btn-default"> Login</button>
                    </div>
                </div>
                <div class="loginCreate text-right">
                    <a id="create-init" href="#">Create an account</a>
                </div>
              </form>
            </div>
        </div>

        <div class="row">
            <div class="text-right">
                <h2>Don't try to steal the devices... we're watching you!</h2>
            </div>
        </div>
    </div>
</template>
