<template name="users">
    <div class="users-holder container">
        <h2>Registered users</h2>
        <hr class="style-two">
        <table class="users-table table table-striped table-bordered">
            <thead>
                <tr>
                    <td>
                        <strong>Email address</strong>
                    </td>
                    <td>
                        Currently assigned devices
                    </td>
                    <td>
                        <strong>Registered</strong>
                    </td>
                    <td>
                        <strong>Actions</strong>
                    </td>
                </tr>
            </thead>
            <tbody>

            {{#each userList}}
                <tr>
                    {{#each emails}}
                        <td>
                            {{address}}
                        </td>
                        <td>
                            <em>{{bookedByUser address}} </em>
                        </td>
                    {{/each}}
                    <td>
                        {{relativeTime createdAt}}
                    </td>
                    <td class="actions">
                        <a class="user-action" data-action="mail"><i class="fa fa-envelope"></i></a>
                        <a class="user-action" data-action="reset"><i class="fa fa-refresh"></i></a>
                        <a class="user-action" data-action="disable"><i class="fa fa-toggle-on"></i></a>
                        <a class="user-action" data-action="stats"><i class="fa fa-area-chart"></i></a>
                        <a class="user-action" data-action="delete"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            {{/each}}

            </tbody>
        </table>
    </div>
</template>