<template name="users">
    <div class="users-holder container">
        <h2>Registered users</h2>
        <hr class="style-two">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <td>
                        <strong>Email address</strong>
                    </td>
                    <td>
                        Currently assigned devices
                    </td>
                    <td>
                        <strong>Registered</strong>
                    </td>
                </tr>
            </thead>
            <tbody>

            {{#each userList}}
                <tr>
                    {{#each emails}}
                        <td>
                            {{address}}
                        </td>
                        <td>
                            <em>{{bookedByUser address}} </em>
                        </td>
                    {{/each}}
                    <td>
                        {{relativeTime createdAt}}
                    </td>
                </tr>
            {{/each}}

            </tbody>
        </table>
    </div>
</template>