@import "variables";
@import "components/mixins";
@import "components/general";
@import "components/login";


.device-holder{
  width: 31%;
  float: left;
  position: relative;
  margin-left:15px;
  padding: 7px;
  border: 5px double darken($main-bg, 50%);
  border-left: 7px solid darken($main-bg, 80%);
  border-right: 7px solid darken($main-bg, 80%);
  margin-bottom: 15px;
  background: darken($main-bg, 20%);
  border-radius: 4px;
  box-shadow: 0 0 5px 1px darkgray;
  &:hover{
    .book-btn{
      opacity: 1;
      @include vendor-transition(0.2s, ease);
    }
  }
  h3{
    background: rgba(210, 244, 250, 0.65);
    padding: 7px;
    margin-top: 0px;
  }
  .device-img{
    float: right;
    width: 20%;
    img{
      width: 100%;
      max-width: 100%;
    }
  }
}
h1, h2{
  text-align: center;
}
.book-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  opacity: 0;
  text-transform: uppercase;
  overflow: hidden;
  @include vendor-transition(0.2s, ease);
}
#new-device-form{
  @include center-element(70%, 50px);
  min-width: 250px;
}

.container-fluid{
  #addDevice{
    margin: 7px;
  }
}

.book-this-device{
  h4{
    text-align: center;
    margin-bottom:30px;
  }
}