@import "variables";
@import "components/mixins";
@import "components/general";
@import "components/login";

.nav.navbar-nav{
  margin-top: 15px;
}
.device-holder{
  width: 31%;
  float: left;
  position: relative;
  margin-left:15px;
  padding: 7px;
  border: 2px double darken($main-bg, 50%);
  border-left: 4px solid darken($main-bg, 80%);
  border-right: 4px solid darken($main-bg, 80%);
  margin-bottom: 15px;
  background: darken($main-bg, 5%);
  border-radius: 4px;
  box-shadow: 0 0 5px 1px darkgray;
  &:hover{
    .book-btn, .return-btn{
      opacity: 1;
      @include vendor-transition(0.2s, ease);
    }
    .device-img{
      @include vendor-transition(0.2s, ease);
      @include scale-and-rotate(1.2, 1.2);
    }
  }
  h3{
    background: $device-header;
    padding: 7px;
    margin-top: 0px;
  }
  .device-img{
    @include vendor-transition(0.2s, ease);
    float: right;
    width: 20%;
    img{
      width: 100%;
      max-width: 100%;
      @include filter(grayscale, 60%);
    }
  }
}
h1, h2{
  text-align: center;
}
.book-btn, .return-btn{
  position: absolute;
  top: 15px;
  right: 10px;
  opacity: 0;
  text-transform: uppercase;
  overflow: hidden;
  @include vendor-transition(0.2s, ease);
}
#new-device-form{
  @include center-element(70%, 50px);
  min-width: 250px;
}

.nav-wrapper{
  list-style-type: none;
  margin: 10px;
  li{
    position: relative;
    display: inline;
    right: 0;
    margin-left: 15px;
    a.top-nav-link{
      color:darkgray;
      width: 90px;
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      &:hover{
        color:darken(darkgray, 30%);
        text-decoration: none;
      }
      i{
        text-shadow: 2px 2px 1px $icon-shadow;
      }
    }
  }
}

.book-this-device{
  h4{
    text-align: center;
    margin-bottom:30px;
  }
}

.logo-img{
  padding: 12px 15px 0 15px;
}

.dropdown-menu{
  li{
    a.drop-nav-link, .view-booked{
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}