@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background: $main-bg;
  color: $main-color;
}

footer {
  padding: 20px 0;
}
