@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(//cdn.jsdelivr.net/bootstrap.material-design/0.2.0/css/material-wfont.min.css);
*, *:after, *:before {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background: $main-bg;
  color: $main-color;
}

footer {
  padding: 20px 0;
}

#login-buttons-open-change-password{
  display:none;
}

/*
  Loading Page
*/
.new{
  -webkit-animation: new;
  -webkit-animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-play-state: running;
}
.spinner-square{
  width: 80px;
  height: 80px;
  margin: 200px auto;
  border: 5px solid;
}
@-webkit-keyframes new{
  0% {border-color: #4C5564;
    -webkit-transform: rotate(0deg);}

  50% {border-color: white;
    border-radius: 50px;
    -webkit-transform: rotate(180deg);}
  100%{border-color: #4C5564;
    -webkit-transform: rotate(360deg);}
}
@keyframes new{
  0% {border-color: black; }
  25% {border-color: gray;}
  50% {border-color: white;}
  100%{border-color: black;}
}

/*
  404 Page
*/
.text-404{
  font-size: 3em;
}
.img-holder-404{
  width: 350px;
  margin: 10px auto;
  img{
    width: 100%;
    max-width: 100%;
  }
}
.content-404{
  margin-top: 50px;
  text-align: center;
  h4{
    font-size: 1.6em;
    line-height: 2;
  }
}
