.ninjaLogo {
  img {
    width: 250px; //FIXME temporary stuff lol
//    opacity: 0.6;
  }
}

.loginContainer {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid $border-color;
  background: #fff; //FIXME create a variable
  box-shadow: 0 1px 10px rgba(0,0,0,0.3);
  padding: 30px;

  .input-group {
    margin-bottom: 20px;
  }

  .loginButtons{
    text-align: center;
  }
}

$eyeSize: 32px;

.ninjaEyes {
  position: relative;
  top: -205px;
  right: -40px;
  .eye {
    display: inline-block;
    width: $eyeSize;
    height: $eyeSize;
    border-radius: 50%;
    background: #000;
    margin-right: 40px;
  }
  .pupil {
    position: relative;
    top: 10px;
    width: $eyeSize/3;
    height: $eyeSize/3;
    background: #fff;
    border-radius: 50%;
  }
}