@mixin vendor-transition($duration: 0.5s, $effect: ease) {
  transition: all $duration $effect;
  -webkit-transition: all $duration $effect;
  -moz-transition: all $duration $effect;
  -o-transition: all $duration $effect;
}

@mixin center-element($width: 60%, $margin-top-bottom: 30px){
  width: $width;
  margin: $margin-top-bottom auto;
  float: none;
}