@mixin vendor-transition($duration: 0.5s, $effect: ease) {
  transition: all $duration $effect;
  -webkit-transition: all $duration $effect;
  -moz-transition: all $duration $effect;
  -o-transition: all $duration $effect;
}

@mixin center-element($width: 60%, $margin-top-bottom: 30px){
  width: $width;
  margin: $margin-top-bottom auto;
  float: none;
}

/* Cross browser scale */
@mixin scale-and-rotate($valueX: 1.2, $valueY: 1.2){

  -webkit-transform: scale($valueX, $valueY) rotate(25deg);
  -moz-transform: scale($valueX, $valueY)  rotate(25deg);
  -ms-transform: scale($valueX, $valueY)  rotate(25deg);
  -o-transform: scale($valueX, $valueY)  rotate(25deg);
  transform: scale($valueX, $valueY)  rotate(25deg);

}

@mixin filter($filter-type,$filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');
}